<link rel="stylesheet" href="/style.css">
<div class="header">
    <h1>Pokedex</h1>
    <h1> Add a New Poke</h1>
</div>

<form action="/pokemon" method="POST" class="form">
    <label for="name" class="label">Name</label>
    <input type="text" name="name" placeholder="pokemon name" class="input"> <br>

    <label for="type" class="label">Types</label>
    <input type="text" name="type" placeholder="pokemon type" class="input"> <br>

    <label for="hp" class="label">HP</label>
    <input type="text" name="hp" placeholder="pokemon hp" class="input"> <br>

    <label for="attack" class="label">Attack</label>
    <input type="text" name="attack" placeholder="pokemon attack" class="input"> <br>

    <label for="defense" class="label">Defense</label>
    <input type="text" name="defense" placeholder="pokemon defense" class="input"> <br>

    <input type="submit" value="Create Pokemon" class="submit">

</form>
