
#pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
  }
  
  .pokemon-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  
  .pokemon-card:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out;
  }
  
  


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  form[action^="/pokemon/"] input[type="submit"],
  a[href^="/pokemon/"] button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px; 
  }
  
  
  form[action^="/pokemon/"] input[type="submit"]:hover,
  a[href^="/pokemon/"] button:hover {
    filter: brightness(1.2); 
  }

  
.newPokemon {
    background-color: #27ae60; 
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    text-decoration: none;
  }
  
  .newPokemon:hover {
    filter: brightness(1.2); 
  }
 